nav {
  background-color: #800020;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #C8C8C8;
  width: 100vw
}

nav > ul, h1 {
  padding: .8rem;

}

nav h1 {
  margin-left: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  padding: .6rem;
  list-style-type: none;
  cursor: pointer
}

nav li:hover {
  color: #fff;
  font-weight: 500;;
  transition: ease-in .5s;
}
